.admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eeeeee;

  .card {
    background: #ffffff;
    width: 500px;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px #0000001a;
    background:linear-gradient(135deg,#ffddae,#c5d0fa);

    h2 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 2rem;
      color: #333;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      margin: 0.5em;
      background:linear-gradient(135deg,#ffddae,#c5d0fa);
      

      input {
        padding: 1rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;

        &:focus {
          border-color: #007bff;
          outline: none;
        }
      }

      .login {
        padding: 0.9rem;
        font-size: 1rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }

      p {
        color: red;
        text-align: center;
        margin-top: 0.5rem;
      }
    }
  }
}
